# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\mongo_db_ws\JCG-JavaMongoDB-Example\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
